body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#todo-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
}

#todo-container li {
    cursor: default;
    transition: all 0.3s ease-in-out;
}

.completed {
    text-decoration: line-through;
    color: red;
    opacity: 0.5;
    background-color: #ddd;
    font-style: italic;
}