body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#todo-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    transition: all 0.3s ease-in-out;
}

#progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 25px;
}

#progress-bar {
    background-color: #4CAF50;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}
#progress-percentage {
    display: block;
    margin-top: 5px;
    margin-left: 1%;
    font-weight: bold;
    /* color: #333; */
    color: crimson;
    transition: all 0.3s ease-in-out;
}

#todo-input {
    /* margin-top: 10px; */
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button i {
    margin-right: 5px;
}

#add-button {
    /* margin-top: 10px; */
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#add-button:hover {
    background-color: #4CAF50;
}

#clear-all-button {
    /* margin-top: 10px; */
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#clear-all-button:hover {
    background-color: crimson;
}

#todo-container li {
    cursor: default;
    margin-top: 5px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.completed {
    text-decoration: line-through;
    color: red;
    opacity: 0.5;
    background-color: #ddd;
    font-style: italic;
    font-weight: normal;
}

.completed-half-percentage {
    color: yellow;
}

.completed-percentage {
    color: #4CAF50;
}